.home {
  &__banner {
    background-image: url(../../public/img/background-home.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    top: -6rem;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      background-image: url(../../public/img/background-home-mid.svg);
      background-position: right;
    }
    @include respond(phone) {
      background-image: url();
      flex-direction: column;
    }

    &-small {
      display: none;
      @include respond(phone) {
        margin-top: 4rem;
        display: flex;
        align-items: center;
      }

      &-img {
        @include respond(phone) {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }

  &__text-description {
    width: 56rem;
    position: relative;
    left: 4%;

    & > p {
      width: 100% !important;
    }

    @include respond(tab-land) {
      width: 53rem;
      position: relative;
      left: 3%;
    }

    @include respond(tab-port) {
      width: 35rem;
      position: relative;
      left: 3%;
    }
  }
}
